**/.git
**/.gitignore
**/node_modules
**/.next
**/out
**/dist
**/__pycache__
**/.pytest_cache
**/.ruff_cache
**/.venv
**/.env
**/.env.*
!**/.env.example
**/.DS_Store
db/*.db
test/
planning/archive/
*.md
!README.md
